# PAIR PROGRAMMING - ANDREA Y TAMARA

------

## VARIABLES

------

- Crear tres variables numéricas de tipo integer (entero):

In [35]:
numero1 = 8
numero2 = 4
numero3 = 5

numero1, numero2, numero3

(8, 4, 5)

- Utilizando los operadores lógicos:

In [36]:
# es el numero1 mayor que el numero2


numero1 > numero2

True

In [37]:
# Es el numero1 menor que el numero2 pero mayor que el numero3

numero2 > numero1 > numero3

False

In [38]:
# Es el numero3 igual que el numero2

numero3 == numero2

False

In [39]:
# Es el numero2 distinto que el numero1

numero2 != numero1

True

- Cread dos variables numéricas de tipo float (decimal) con dos decimales

In [40]:
altura1 = 1.87
altura2 = 1.65

- Utilizando los operadores matemáticos

In [42]:
# Cuál es la suma de las dos alturas

total_alturas = altura1 + altura2
print(total_alturas)

3.52

In [54]:
# Cuál es la diferencia entre las alturas

altura1 - altura2

0.2200000000000002

In [51]:
# Cuál es el resto de la división de las dos alturas

altura1%altura2

0.2200000000000002

In [50]:
# Cuál es resultado de la división de las dos alturas, redondead el resultado a un decimal.

round(altura1 / altura2)

1

-----

## LISTAS Y TUPLAS
-----

In [4]:
lista1 = [5,20,3,4,6,7,13,1,2]

In [5]:
sumatorio = sum(lista1)
sumatorio

61

In [6]:
lista2 = [6,7,26,9,10,12]

In [7]:
sumatorio2 = sum(lista2)
sumatorio2

70

In [8]:
2

unionlistas = lista1 + lista2
print(unionlistas)

[5, 20, 3, 4, 6, 7, 13, 1, 2, 6, 7, 26, 9, 10, 12]

### 3 Calcular la suma de una lista de números
Descripción: Dada una lista de números, calcula la suma de todos los elementos.

In [9]:

sum_unionlistas = sum(unionlistas)
print(sum_unionlistas)

131

### 4 Encontrar el valor máximo en una lista
Descripción: Dada una lista de números, encuentra el valor máximo.

In [10]:
max(unionlistas)

26

In [11]:
max(lista1)

20

### 5.Calcular la longitud de una lista
Descripción: Dada una lista, calcula la cantidad de elementos que contiene.

In [12]:
len(lista1)

9

In [13]:
len(lista2)

6

In [14]:
len(unionlistas)

15

### 6.Encontrar el índice de un elemento en una lista
Descripción: Dada una lista y un valor objetivo, encuentra el índice del primer elemento que coincida con el valor objetivo.

In [15]:
lista1

[5, 20, 3, 4, 6, 7, 13, 1, 2]

In [16]:
lista1.index(6)

4

In [17]:
lista2.index(26)

2

### 7.Contar ocurrencias de un elemento en una lista
Descripción: Dada una lista y un valor objetivo, cuenta cuántas veces aparece el valor objetivo en la lista

In [18]:
unionlistas.count(6)

2

In [19]:
unionlistas

[5, 20, 3, 4, 6, 7, 13, 1, 2, 6, 7, 26, 9, 10, 12]

### 8.Obtener una sublista de una lista
Descripción: Dada una lista, crea una nueva lista que contenga los elementos desde el índice 2 hasta el índice 5 (sin incluirlo).

In [20]:
print(lista1)

[5, 20, 3, 4, 6, 7, 13, 1, 2]

In [21]:
lista3 = lista1[2:5]
lista3

[3, 4, 6]

In [22]:
cosas = [1, 2, 3, 4, 5, 6]
print(cosas[0:2]) #[1, 2]
print(cosas[2:6]) #[3, 4, 5, 6]

[1, 2]
[3, 4, 5, 6]

### 9.Obtener el último elemento de una lista
Descripción: Dada una lista, obtén el último elemento.

In [23]:
lista3

[3, 4, 6]

In [24]:
lista3[-1]

6

______
### SENTENCIAS DE CONTROL
_____

1. Verificar si un número es positivo, negativo o cero.

Descripción: Dado un número, verifica si es positivo, negativo o cero.

In [83]:
numeroejercicio1 = 9

if numeroejercicio1 >= 0:
    print("Positivo")

elif numeroejercicio1 <= 0:
    print("Negativo")

else:
    print("0")

Positivo

2. Verificar si un número es par o impar.

Descripción: Dado un número, verifica si es par o impar.

In [84]:
numeroejercicio1

9

In [30]:
if numeroejercicio1 %2 == 0:
    print("Par")

else:
    print("Impar")

Impar

3. Verificar si un estudiante aprobó o suspendió un examen.

Descripción: Dada la calificación de un estudiante en un examen, verifica si aprobó o suspendió (si la calificación es mayor o igual a 60 se considera aprobado).

In [31]:
calificacion_alumno = 55

In [32]:
if calificacion_alumno >= 60:
    print("Aprobado")

else:
    print("Suspenso")

Suspenso

4. Calcular el máximo entre dos números.

Descripción: Dados dos números, encuentra el máximo entre ellos.

In [86]:
numeroejercicio1

9

In [87]:
numeroejercicio4 = 8

In [88]:
if numeroejercicio1 > numeroejercicio4:
    print("El número máximo es ", numeroejercicio1)

else:
    print("El número máximo es ", numeroejercicio4)

El número máximo es  9

5. Verificar si una letra es una vocal o una consonante.

Descripción: Dada una letra, verifica si es una vocal o una consonante.

In [44]:
vocales = "a, e, i, o, u"

letra = "p"

if letra in vocales:
    print("Vocal")

else:
    print("Consonante")

Consonante

6. Calcular el descuento en una compra según el monto total.

Descripción: Dado el monto total de una compra, calcula el descuento aplicado según las siguientes condiciones: si el monto es mayor o igual a $100, aplica un descuento del 10%; de lo contrario, no aplica ningún descuento.

In [94]:
monto_compra = 250

if monto_compra >= 100:
    print("Se aplica descuento y cuesta", monto_compra - (monto_compra*0.10))

else:
    print("No se apica descuento, cuesta", monto_compra)

Se aplica descuento y cuesta 225.0

7. Verificar si un año es bisiesto o no.

Descripción: Dado un año, verifica si es bisiesto o no (un año es bisiesto si es divisible entre 4, excepto aquellos divisibles entre 100 pero no entre 400).

In [20]:
año = 2023

if año == (año/4):
    print("Bisiesto")

    if año == (año/100):
            print("No bisiesto")

    elif año == (año/400):
            print("No bisiesto")

In [61]:
año2 = 1973

if año2 /4 :
    print("Bisiesto")

if año2/4:
    and(año/100)
    print("No bisiesto")

SyntaxError: invalid syntax (3657603359.py, line 7)

In [62]:
if año2 /4:
    print("Bisiesto")

Bisiesto

In [64]:
if (año2 /4) /100:
    print("No bisiesto")

No bisiesto

In [65]:
if ((año2 /4) /100) is not año2 /400:
    print("No bisiesto")

No bisiesto

In [70]:
if año2 /4:
    print("Bisiesto")

    and (if (año2 /4) /100:
        print("No bisiesto")
        and if ((año2 /4) /100) is not año2 /400:
            print("No bisiesto"))

SyntaxError: invalid syntax (3242777844.py, line 4)

In [77]:
año

2023

**esta está mejor pero no terina de funcionar**

In [102]:
if año %4 == 0 :
    print(año, "es bisiesto")
    if año %100 != 0 :
        print(año, "es bisiesto")
    elif año %400 == 0 :
        print(año, "es bisiesto")
else:
    print(año, "no es bisiesto")

2023 no es bisiesto

8. Asignar una categoría a una edad.

Descripción: Dada una edad, asigna una categoría según las siguientes condiciones: si la edad es menor de 18, la categoría es "Menor de edad"; si la edad está entre 18 y 64 (incluyendo ambos), la categoría es "Adulto"; de lo contrario, la categoría es "Adulto mayor".

In [106]:
edad = 25

if edad < 18:
    print("Menor de edad")

if edad > 18 and edad <64 : #me dio error la primera vez por no poner edad para ambos números
    print("Adulto")

if edad > 64:
    print("Adulto mayor")

Adulto

9. Verificar si tres números forman un triángulo rectángulo.

Descripción: Dados tres números, verifica si forman un triángulo rectángulo (si se cumple el teorema de Pitágoras).

In [107]:
# el cuadrado de la hipotenusa es igual a la suma de los cuadrados de los lados

hipotenusa = 12

lado1= 4

lado2= 6